Flask
flask-cors
paddlepaddle ; sys_platform == 'linux'
paddleocr ; sys_platform == 'linux'
numpy
opencv-python-headless
gspread
google-auth
google-auth-oauthlib
google-auth-httplib2
python-dateutil
Pillow
